.element__button-remove {
  margin: auto 0;
  padding: 0;
  min-width: 18px;
  min-height: 19px;
  background-image: url(../../../images/basket.svg);
  background-repeat: no-repeat;
  background-color: inherit;
  background-position: center center;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity 0.2s ease;
}

.element__button-remove:hover {
  opacity: 0.5;
}