.page {
  background-color: #000;
  color: #fff;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  margin: 0 auto;
  padding: 45px 0 60px;
  box-sizing: border-box;
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .page {
    padding: 28px 0 36px;
  }
}

@media screen and (min-width: 320px) and (max-width: 423px) {
  .page {
    padding: 28px 0 36px;
  }
}
