.popup__error {
  width: 100%;
  min-height: 30px;
  margin: 0;
  padding: 0;
  color: #ff0000;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.popup__error:last-of-type {
  margin-bottom: 6px;
}