.header {
  width: 100%;
  max-width: 880px;
  min-height: 74px;
  display: flex;
  flex: auto;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0 auto 40px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (min-width: 1024px) and (max-width: 1080px) {
  .header {
    max-width: calc(100% - 150px * 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    max-width: calc(100% - 100px * 2);
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .header {
    max-width: calc(100% - 50px * 2);
    margin-bottom: 38px;
  }
}

@media screen and (min-width: 320px) and (max-width: 424px) {
  .header {
    max-width: 100%;
    min-height: 56px;
    margin-bottom: 38px;
  }
}
